{% extends 'base_site.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog_site.css' %}">
{% endblock %}

{% block ld_json %}
{% endblock %}

{% block info %}
<title></title>
<meta name="description" content="">
{% endblock %}

{% block content %}

<!-- HERO BLOG -->
{% include 'blog/components/_hero_blog.html' %}

<!-- LISTA DE POSTS DO BLOG -->
{% include 'blog/components/_blog_list.html' %}

<!-- CTA WHATSAPP -->
{% include 'blog/components/_cta_blog.html' %}


{% endblock %}

{% block scripts %}
<script src="{% static 'js/blog_sidebar_sticky.js' %}"></script>
<script src="{% static 'js/filter_blog.js' %}"></script>
{% endblock %}