{% load static %}
<section class="lp-partners" id="parceiros" aria-labelledby="lp-partners-title" data-lp-partners>
    <div class="container">
        <h2 class="lp-eyebrow lp-partners__eyebrow" id="lp-partners-title">Confiança</h2>
    </div>

    <div class="lp-partners__viewport">
        <div class="lp-partners__track">
            <ul class="lp-partners__group" aria-label="Empresas e instituições parceiras">
                <li><img src="{% static 'img/partners/aemflo.svg' %}" alt="AEMFLO" width="230" height="170" loading="lazy" decoding="async"></li>
                <li><img src="{% static 'img/partners/cdl.svg' %}" alt="CDL São José" width="300" height="112" loading="lazy" decoding="async"></li>
                <li><img src="{% static 'img/partners/JR.svg' %}" alt="JR" width="170" height="170" loading="lazy" decoding="async"></li>
                <li><img src="{% static 'img/partners/az.svg' %}" alt="AZ" width="170" height="135" loading="lazy" decoding="async"></li>
                <li><img src="{% static 'img/partners/mix.svg' %}" alt="Mix Aquecedores" width="300" height="132" loading="lazy" decoding="async"></li>
                <li><img src="{% static 'img/partners/vem_ligar.svg' %}" alt="Vem Ligar" width="140" height="140" loading="lazy" decoding="async"></li>
            </ul>
            <div class="lp-partners__group" aria-hidden="true">
                <span><img src="{% static 'img/partners/aemflo.svg' %}" alt="" width="230" height="170" loading="lazy" decoding="async"></span>
                <span><img src="{% static 'img/partners/cdl.svg' %}" alt="" width="300" height="112" loading="lazy" decoding="async"></span>
                <span><img src="{% static 'img/partners/JR.svg' %}" alt="" width="170" height="170" loading="lazy" decoding="async"></span>
                <span><img src="{% static 'img/partners/az.svg' %}" alt="" width="170" height="135" loading="lazy" decoding="async"></span>
                <span><img src="{% static 'img/partners/mix.svg' %}" alt="" width="300" height="132" loading="lazy" decoding="async"></span>
                <span><img src="{% static 'img/partners/vem_ligar.svg' %}" alt="" width="140" height="140" loading="lazy" decoding="async"></span>
            </div>
        </div>
    </div>
</section>
