{% extends 'lp/lp_base.html' %}
{% load static %}

{% block info %}
<title>{{ lp_meta_title }}</title>
<meta name="description" content="{{ lp_meta_description }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="pt_BR">
<meta property="og:site_name" content="Sarobe Contabilidade">
<meta property="og:title" content="{{ lp_meta_title }}">
<meta property="og:description" content="{{ lp_meta_description }}">
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
{% if lp_hero.image_path %}
{% static lp_hero.image_path as lp_social_image %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ lp_social_image }}">
<meta property="og:image:alt" content="{{ lp_hero.image_alt }}">
{% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/lp_tax_reform.css' %}">
{% endblock %}

{% block content %}
{% include 'lp/components/_hero.html' %}
{% endblock %}

{% block surface_intro %}
{% include 'lp/components/tax_reform/_help_you.html' %}
{% endblock %}

{% block scripts %}
<script defer src="{% static 'js/lp_tax_reform.js' %}"></script>
{% endblock %}
