{% extends 'base_site.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home_site.css' %}">
{% endblock %}

{% block ld_json %}
{% endblock %}

{% block content %}

<!-- Seção Hero -->
{% include 'home/components/_hero_home.html' %}
<!-- Seção About -->
{% include 'home/components/_about_home.html' %}
<!-- Seção Services -->
{% include 'home/components/_services_home.html' %}
<!-- Seção Plans -->
{% include 'home/components/_plans_home.html' %}
<!-- Seção Reviews -->
{% include 'home/components/_reviews_home.html' %}
<!-- Seção Faq -->
{% include 'home/components/_faq_home.html' %}
<!-- Seção Partners -->
{% include 'home/components/_partners_home.html' %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/animation_numbers.js' %}"></script>
{% endblock %}