{% extends 'base_site.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/about_site.css' %}">
{% endblock %}

{% block info %}
<title></title>
<meta name="description" content="">
{% endblock %}

{% block ld_json %}
{% endblock %}

{% block content %}
<!-- HERO SOBRE -->
{% include 'about/components/_hero_about.html' %}

<!-- HISTÓRIA + MÉTRICAS -->
{% include 'about/components/_history_metrics_about.html' %}

<!-- Manifesto -->
{% include 'about/components/_manifest_about.html' %}

<!-- LINHA DO TEMPO -->
{% include 'about/components/_timeline_about.html' %}


<!-- EQUIPE -->
{% include 'about/components/_team_about.html' %}


<!-- CTA FINAL -->
{% include 'about/components/_cta_about.html' %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/animation_number_about.js' %}"></script>
{% endblock %}