
.brand-link img {
    max-width: 100px;  
    max-height: 50px;  
    object-fit: contain;
}

.login-logo img {
    max-width: 300px;
    max-height: 150px;
}


@media (max-width: 768px) {
    .brand-link img {
        max-width: 70px;
        max-height: 35px;
    }
}


@media (min-width: 1200px) {
    .brand-link img {
        max-width: 150px;
        max-height: 75px;
    }
}