{% load static compress %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if IS_PROD %}
    <script>
        window.__GTM_ID__ = 'GTM-TFR6M3PH';
    </script>
    {% endif %}

    {% block info %}{% endblock %}
    <link rel="icon" href="{% static 'img/icon/Logo_branca_icon__sem_fundo.ico' %}" type="image/x-icon">

    {% block canonical %}
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
    {% endblock %}
    {% block ld_json %}{% endblock %}

    {% compress css inline %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-components.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_style_site.css' %}">
    {% block styles %}{% endblock %}
    {% endcompress %}

    <link rel="preload" as="style" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    </noscript>

</head>

<body class="d-flex flex-column min-vh-100">

    {% include 'components/_header.html' %}
    {% include 'components/_cookie_banner.html' %}
    <main class="flex-grow-1">
        {% block content %}{% endblock %}
    </main>

    {% include 'components/_whats_button.html' %}
    {% include 'components/_privacy_terms.html' %}
    {% include 'components/_footer.html' %}

    {% compress js %}
    <script defer src="{% static 'js/aos.js' %}"></script>
    <script defer src="{% static 'js/bootstrap_interactions.js' %}"></script>
    <script defer src="{% static 'js/animation_script.js' %}"></script>
    {% block scripts %}{% endblock %}
    {% endcompress %}
</body>

</html>